<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Studio Recording</title>
  {{--  Bootstrap  --}}
  <link 
    rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous"
  >
  {{--  FontAwesome  --}}
  <script src="https://kit.fontawesome.com/16308709c3.js" crossorigin="anonymous"></script>

  {{--  MOVE STYLES TO SEPARATE FILE LATER --}}
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

    /* Scrollbar style for browsers that support it */
    ::-webkit-scrollbar {
      width: 10px;
    }

    ::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
    
    ::-webkit-scrollbar-thumb {
      background: #888; 
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }

    /* Site */

    html, body {
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
      color: white;
      overflow-x: hidden;
      scroll-behavior: smooth;
    }

    a, 
    a:hover, 
    a:visited, 
    a:active,
    a:focus {
      color: inherit;
      text-decoration: none;
    }

    .spaced-word {
      letter-spacing: 1.5rem;
    }

    .darkening-layer {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #0008;
      background-repeat: repeat;
    }

    .header-font {
      font-family: 'Montserrat', sans-serif;
    }

    .btn-back-to-top {
      position: fixed;
      background-color: #222;
      border: 1px solid #eee;
      padding: 5px;
      color: #eee;
      right: 50px;
      bottom: 50px;
      border-radius: 50%;
      opacity: 0;
      transition-duration: 0.5s;
      z-index: 5;
    }

    .btn-back-to-top.scrolled {
      opacity: 0.75;
    }

    /* Mobile Menu */

    .mobile-menu {
      position: fixed;
      background-color: #333;
      height: 100vh;
      width: 270px;
      top: 0;
      right: -280px;
      box-shadow: -2px 0 5px #000d;
      z-index: 6;
      transition-duration: 0.5s;
    }

    .mobile-menu.opened {
      right: 0;
    }

    .mobile-menu__close-button {
      padding: 20px;
      cursor: pointer;
    }

    .mobile_menu__list-item {
      font-size: 2rem;
    }

    .mobile_menu__list-item:hover {
      background: linear-gradient(to right, #555, transparent 85%);
    }

    .mobile_menu__list-item:after {
      display: block;
      content: " ";
      height: 2px;
      background: linear-gradient(to right, black, transparent 85%);
    }

    .mobile_menu__list-item div {
      padding: 20px;
    }

    /* Header / Nav */

    header {
      position: absolute;
      width: 100vw;
      z-index: 5;
      transition-duration: 0.5s;
      background-color: #2220;
      box-shadow: 0 2px 5px #0000;
    }

    @media only screen and (max-width: 992px) {
      header {
        position: fixed;
      }

      header.scrolled {
        background-color: #222f;
        box-shadow: 0 2px 5px #000d;
      }
    }

    nav {
      display: flex;
      align-items: center;
    }

    .nav__ul {
      margin-bottom: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .nav__link {
      display: inline-block;
      padding: 20px;
      width: 150px;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      text-align: center;
    }

    .nav__link:hover {
      border-bottom: 2px solid white;
    }

    .nav__logo {
      font-weight: bold;
    }

    .nav__mobile-menu-button {
      padding: 20px;
    }

    /* Landing */

    .landing {
      position: relative;
      width: 100%;
      height: 70vh;
      overflow: hidden;
      box-shadow: 0 2px 5px #000d;
      z-index: 1;
    }

    .landing__video {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: 100%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }

    .landing__splash {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .rolodex {
      position: relative;
      margin: 0 auto;
      width: 800px;
      height: 100px;
      border: 3px solid white;
      overflow: hidden;
    }

    .rolodex__item {
      position: absolute;
      top: 100%;
      display: flex;
      height: 100%;
      width: 100%;
      text-align: center;
      font-size: 4rem;
      letter-spacing: 2rem;
      text-transform: uppercase;
      align-items: center;
      justify-content: center;
    }

    /* Start first element in view */
    .rolodex__item:first-child {
      top: 0;
      transition-duration: 1s; /*This will need to be synced with the rolodex JS value */
    }

    .landing__call-to-action {
      margin: 0 auto;
      margin-top: 50px;
      display: flex;
      justify-content: center;
    }

    .landing__button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem;
      height: 5rem;
      width: 275px;
      border: 1px solid white;
      color: white;
      font-size: 2rem;
      border-radius: 5px;
      cursor: pointer;
      user-select: none;
    }

    .landing__button:hover {
      background-color: white;
      color: black;
    }

    .landing__button--inverted {
      background-color: white;
      color: black;
    }

    .landing__button--inverted:hover {
      /* Use Bootstrap's .info color on hover */
      background-color: #33b5e5;
      border: 1px solid #33b5e5;
      color: white;
    }

    .landing__button--inverted:visited {
      color: black;
    }

    .landing__button--inverted:visited:hover {
      color: white;
    }

    @media only screen and (max-width: 992px) {
      .landing {        
        background-color: #000;
        background-image: url("images/sm7b_cropped.jpg");
        background-size: cover;
        background-position: center;
      }

      .rolodex{
        width: 600px;
        height: 200px;
      }
    }

    @media only screen and (max-width: 768px) {
      .landing__splash {
        position: relative;
        top: 0;
        left: 0;
        transform: inherit;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
      }

      .rolodex{
        width: 90%;
        height: 100px;
      }

      .rolodex__item {
        font-size: 2.5rem;
      }

      .landing__call-to-action {
        width: 90%;
        display: block;
        text-align: center;
      }

      .landing__button {
        margin: 20px auto;
      }
    }

    @media only screen and (max-width: 500px) {
      .landing {
        height: 85vh;
      }

      .rolodex {
        height: 75px;
      }

      .rolodex__item {
        font-size: 1.5rem;
        letter-spacing: 1rem;
      }
    }

    /* About Us */

    .about-us {
      color: black;
    }

    .about-us__fixed-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-image: url("images/mixer.jpg");
      background-position: center;
      background-size: cover;
      z-index: -1;
    }

    .about-us__text-container {
      height: 100%;
    }

    .about-us__heading {
      padding: 15px 0px;
      text-align: center;
    }

    .about-us__paragraph {
      margin: 2rem;
    }

    .about-us__paragraph::first-line {
      text-indent: 2rem;
    }

    .about-us__paragraph:last-child {
      margin-bottom: 4rem;
    }

    .about-us__heading-container:after {
      display: block;
      height: 2px;
      content: " ";
      background: linear-gradient(to right, transparent 20%, black 40%, black 60%, transparent 80%);
    }

    @media only screen and (min-width: 768px) {
      .about-us__heading-container {
        background: linear-gradient(to right, transparent 20%, white 40%, white 60%, transparent 80%);
      }

      .about-us__text-container {
        background: linear-gradient(to right, transparent 20%, #ddd 40%, #ddd 60%, transparent 80%);
      }      
    }    

    @media only screen and (min-width: 992px) {
      .about-us__heading {
        text-align: right;
      }

      .about-us__heading-container:after {
        display: block;
        background: linear-gradient(to right, transparent 40%,  #000d 75%);
      }

      .about-us__heading-container {
        background: linear-gradient(to right, transparent 40%,  #eee 75%);
      }

      .about-us__text-container {
        background: linear-gradient(to right, transparent, #ddd 60%);
      }

      .about-us__paragraph {
        font-size: 1.75rem;
      }
    }

    /* Pricing */

    .pricing {
      position: relative;
      background-color: #3d524f;
      background-size: cover;
      background-position: center;
      box-shadow: 0 -2px 5px #000d, 0 2px 5px #000d;
      z-index: 1;
    }

    .pricing__heading-container {
      margin-bottom: 10px;
    }

    .pricing__heading-container:after {
      display: block;
      height: 2px;
      content: " ";
      background: linear-gradient(to right, transparent 20%, white 40%, white 60%, transparent 80%);
    }

    .pricing__heading {
      padding: 15px 0px;
      text-align: center;
    }

    .pricing__cards-container {  
      margin-top: 30px;    
      max-width: 300px;
      height: 100%;
      padding: 30px inherit;
      color: black;
      z-index: 2;
    }

    .pricing__card {
      width: 300px;
      background-color: #eee;
      text-align: center;
      padding: 30px 15px;
      margin-bottom: 10px;
      border-radius: 20px;
    }

    .card__icon {
      padding-bottom: 20px;
    }

    .card__title {
      padding-top: 10px;
      font-size: 3rem;
      font-weight: bold;
    }

    .card__price {
      font-size: 2.25rem;
      font-style: italic;

    }
    .card__description {}

    @media only screen and (min-width: 768px) {
      .pricing__cards-container {
        max-width: 680px;
      }

      .pricing__card {
        margin: 20px;
      }
    }

    @media only screen and (min-width: 992px) {
      .pricing {
        background-image: url("images/computersetup.jpg");
      }  

      .pricing__heading {
        text-align: left;
      }

      .pricing__heading-container:after {
        display: block;
        background: linear-gradient(to left, transparent 40%,  #ffff 75%);
      }

      .pricing__heading-container {
        background: linear-gradient(to left, transparent 40%,  #333 75%);
      }

      .pricing__cards-container {
        margin-left: 0;
      }
    }

    /* Contact Us */
    .contact-form {
      min-height: 70vh;
      background-image: url("images/homestudio.jpg");
      background-position: bottom;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .contact-form__form-container {
      background-color: #eee;
      color: black;
      padding: 25px;
      min-width: 300px;
      box-shadow: 2px 2px 5px #000d;
      border-radius: 10px;
    }

    .contact-form__form {
      display: flex;
      flex-direction: column;
    }

    .contact-form__form-input-group {
      display: flex;
      flex-direction: column;
      margin: 5px 0;
    }

    .contact-form__form-input-group input {
      border-radius: 5px;
      border: 2px solid #bbb;
      padding: 5px;
      /* border-style: none; */
    }

    .contact-form__form-input-group input:focus {
      border: 2px solid #33b5e5;
    }

    .contact-form__form-input-group input::placeholder {
      color: #888;
    }

    .contact-form__button {
      margin-top: 5px;
    }

    @media only screen and (min-width: 992px) {
      .contact-form {
        background-size: cover;
      }
    }

    /* Footer */
    footer {
      padding: 10px;
      text-align: right;
      background-color: #222;
      color: #aaa;
      z-index: -1;
    }
  </style>
</head>
<body>
  <noscript>This site requires JavaScript to be enabled to be displayed correctly.</noscript>
  {{--  Fixed div for go back to top button on medium to large devices  --}}
  <div class="btn-back-to-top hidden-xs hidden-sm">
    <a href="#top">
      <i class="fas fa-chevron-up fa-2x"></i>
    </a>
  </div>
  {{--  Mobile Menu Popout  --}}
  <div class="mobile-menu hidden-md hidden-lg">
    <div class="mobile-menu__close-button">
      <i class="fas fa-times fa-2x"></i>
    </div>
    <ul class="mobile_menu__list-container list-unstyled">
      <li class="mobile_menu__list-item">
        <a href="#top">
          <div>
            Home
          </div>
        </a>
      </li>
      <li class="mobile_menu__list-item">
        <a href="#about">
          <div>
            About
          </div>
        </a>
      </li>
      <li class="mobile_menu__list-item">
        <a href="#pricing">
          <div>
            Pricing
          </div>
        </a>
      </li>
      <li class="mobile_menu__list-item">
        <a href="#contact">
          <div>
            Contact
          </div>
        </a>
      </li>
    </ul>
  </div>
  <header class="container-fluid">
    <nav class="row">
      <span class="col-xs-8 col-md-3 spaced-word header-font nav__logo">Recording<br>Studio</span>
      <ul class="col-xs-4 col-md-9 nav__ul list-unstyled">
        <li class="hidden-xs hidden-sm">
          <a href="#" class="nav__link">
            About
          </a>
        </li>
        <li class="hidden-xs hidden-sm">
          <a href="#pricing" class="nav__link">
            Pricing
          </a>
        </li>
        <li class="hidden-xs hidden-sm">
          <a href="#contact" class="nav__link">
            Contact
          </a>
        </li>
        <li class="hidden-md hidden-lg nav__mobile-menu-button">
          <i class="fas fa-bars fa-2x"></i>
        </li>
      </ul>
    </nav>
  </header>
  {{--  Begin landing  --}}
  <section id="top" class="landing">
    {{--  Video background for landing  --}}
    <video class="landing__video hidden-xs hidden-sm" src="videos/headervideo.mp4" muted autoplay loop></video>
    <div class="darkening-layer"></div>
    {{--  Rolodex splash  --}}
    <div class="landing__splash header-font">
      <div class="rolodex">
        <div class="rolodex__item">
          <span>Affordable</span>
        </div>
        <div class="rolodex__item">
          <span>Flexible</span>
        </div>
        <div class="rolodex__item">
          <span>Relaxed</span>
        </div>
      </div>
      <div class="landing__call-to-action">
        <a href="#about" class="landing__button">
          Learn More &nbsp; <i class="fas fa-book-open"></i>
        </a>
        <a href="#contact" class="landing__button landing__button--inverted">
          Schedule a Session &nbsp; <i class="fas fa-pen"></i>
        </a>
      </div>
    </div>
  </section>
  {{--  End landing  --}}
  {{--  Begin About Us  --}}
  {{--  Fixed position background is outside container  --}}
  <div class="about-us__fixed-background hidden-xs hidden-sm"></div>
  <section id="about" class="about-us">
    <article class="container-fluid about-us__text-container">
      <div class="row about-us__heading-container">
        <h1 class="col-xs-12 col-md-6 col-md-offset-5 header-font spaced-word about-us__heading">
          <span class="hidden-md hidden-lg">About Us</span>
          <span class="hidden-xs hidden-sm">About<br>Us</span>
        </h1>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-6">
          <p class="about-us__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a arcu ut dui scelerisque tincidunt eget eget elit. Phasellus ac lacinia felis. Vestibulum vel tellus quis nisi hendrerit malesuada sed id elit. Aenean nec quam augue. Aliquam non eros pulvinar arcu posuere condimentum. Phasellus libero arcu, vestibulum ut tellus a, scelerisque sollicitudin justo. Pellentesque eleifend lobortis urna nec elementum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          <p class="about-us__paragraph">Morbi volutpat dictum ex, sed rhoncus odio feugiat et. Ut rutrum lectus nisl, efficitur dictum erat viverra vel. Praesent in tempus ipsum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc nec ante bibendum, maximus dui quis, posuere libero. Integer tristique sapien quis purus finibus viverra. Integer at quam hendrerit, tempor metus at, condimentum elit. Duis blandit urna ac neque consequat dignissim. Nullam quis placerat urna, ut blandit tortor. Aliquam mattis congue tristique. Morbi tristique tristique justo eget tincidunt.</p>
        </div>          
      </div>
    </article>
  </section>
  {{--  End About Us  --}}
  {{--  Begin Pricing  --}}
  <section id="pricing" class="pricing">
    <div class="darkening-layer"></div>
    <div class="container-fluid">
      <div class="row pricing__heading-container">
        <h1 class="col-xs-12 col-md-6 col-md-offset-1 header-font spaced-word pricing__heading">
          <span>Pricing</span>
        </h1>
      </div>
    </div>
    <div class="container-fluid pricing__cards-container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 pricing__card">
          <div class="card__icon">
            <i class="fas fa-microphone fa-5x"></i>
          </div>
          <div class="card__title header-font">
            Recording
          </div>
          <div class="card__price">
            $300\\<sup>song</sup>
          </div>
          <div class="card__description">
            At <span class="header-font">Recording Studio</span>, we have a modern setup with professional engineers that make sure that the only thing that gets attention is your music.
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 pricing__card">
          <div class="card__icon">
            <i class="fas fa-sliders-h fa-5x"></i>
          </div>
          <div class="card__title header-font">
            Mixing
          </div>
          <div class="card__price">
            $50\\<sup>minute</sup>
          </div>
          <div class="card__description">
            At <span class="header-font">Recording Studio</span>, we have a modern setup with professional engineers that make sure that the only thing that gets attention is your music.
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 pricing__card">
          <div class="card__icon">
            <i class="fas fa-record-vinyl fa-5x"></i>
          </div>
          <div class="card__title header-font">
            Distribution
          </div>
          <div class="card__price">
            Get a Quote!
          </div>
          <div class="card__description">
            At <span class="header-font">Recording Studio</span>, we have a modern setup with professional engineers that make sure that the only thing that gets attention is your music.
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 pricing__card">
          <div class="card__icon">
            <i class="fab fa-spotify fa-5x"></i>
          </div>
          <div class="card__title header-font">
            Streaming
          </div>
          <div class="card__price">
            FREE!<sup>*</sup>
          </div>
          <div class="card__description">
            At <span class="header-font">Recording Studio</span>, we have a modern setup with professional engineers that make sure that the only thing that gets attention is your music.
          </div>
        </div>
      </div>
    </div>
  </section>
  {{--  End Pricing  --}}
  {{--  Begin Contact Form  --}}
  {{--  After playing around with a few things, I decided to just use a flex container for the contact form since it will be displayed the same at all resolutions, without the need for responsiveness. When veritcally centering, Stack Overflow recommends flexbox. Since this is the only element in this section, I didn't see a need for Bootstrap classes. --}}
  <section id="contact" class="contact-form">
    <div class="contact-form__form-container">
      <h2 class="contact-form__form-header">Contact Us</h2>
      <form action="/" class="contact-form__form">
        <div class="contact-form__form-input-group">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" placeholder="John Doe">
        </div>
        <div class="contact-form__form-input-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="john.doe@gmail.com">
        </div>
        <div class="contact-form__form-input-group">
          <label for="phone">Phone</label>
          <input type="tel" name="phone" id="phone" placeholder="(555) 555-5555">
        </div>
        <button type="submit" class="btn btn-info contact-form__button">Send</button>
      </form>
    </div>
  </section>
  {{--  End Contant Form  --}}
  {{--  Begin Footer  --}}
  <footer>
    &copy; 2020 Sean Fried
  </footer>
  {{--  End Footer  --}}
  <script>
    //Navbar opaque on scroll on xs and sm devices
    //Back to top button visible on md and lg devices
    (() => {
      //Check for scroll
      document.addEventListener('scroll', CheckScroll);
      document.addEventListener('load', CheckScroll);
      
      function CheckScroll(event) {
        //Check small window
        if(window.innerWidth <= 992){
          const scrollTop = event.target.scrollingElement.scrollTop;
          const header = document.getElementsByTagName("header")[0];
    
          //Add and removed 'scrolled' class when scrolling for effect
          if ( scrollTop >= 50 && !header.classList.contains("scrolled")) {
            header.classList.add("scrolled");
          } else if ( scrollTop < 50 && header.classList.contains("scrolled")) {
            header.classList.remove("scrolled");
          }
        } else {
          const scrollTop = event.target.scrollingElement.scrollTop;
          const backToTopButton = document.getElementsByClassName("btn-back-to-top")[0];
          //Else use back to top button
          //Add and removed 'scrolled' class when scrolling for effect
          if ( scrollTop >= 50 && !backToTopButton.classList.contains("scrolled")) {
            backToTopButton.classList.add("scrolled");
          } else if ( scrollTop < 50 && backToTopButton.classList.contains("scrolled")) {
            backToTopButton.classList.remove("scrolled");
          }
        }
      }

      
    })();
    //Rolodex animations
    (() => {
      const rolodexItems = document.getElementsByClassName("rolodex__item");
  
      const intervalTime       = 3000; //Interval timer milliseconds
      const transitionDuration = "1s"; //Transition css property
      let   rolodexIncrementor = 0; //Incrementor is the index of the element moving OUT of view

      setInterval(() => {

        const previousElement = rolodexItems[getPreviousRolodexIndex(rolodexIncrementor)];
        const currentElement = rolodexItems[rolodexIncrementor];
        const nextElement = rolodexItems[getNextRolodexIndex(rolodexIncrementor)];

        //Set previous item back underneath
        //Turn off transitions so it doesn't pass into view and snap back below        
        previousElement.style.transitionDuration = "0s";
        previousElement.style.top = "100%";

        //Move current element up and out of view
        currentElement.style.top = "-100%";

        //Turn on transitions and move next element into view
        nextElement.style.transitionDuration = transitionDuration;
        nextElement.style.top = "0";

        rolodexIncrementor = getNextRolodexIndex(rolodexIncrementor);
      }, intervalTime)

      function getPreviousRolodexIndex (currentIndex) {
        if (currentIndex - 1 < 0) {
          return rolodexItems.length - 1;
        } else {
          return currentIndex - 1;
        }
      }

      function getNextRolodexIndex (currentIndex) {
        if (currentIndex + 1 >= rolodexItems.length) {
          return 0;
        } else {
          return currentIndex + 1;
        }
      }

    })();
    //Mobile menu animations
    (() => {
      const openMenuButton = document.getElementsByClassName("nav__mobile-menu-button")[0];
      const closeMenuButton = document.getElementsByClassName("mobile-menu__close-button")[0];

      openMenuButton.addEventListener('click', (event) => {
        const menu = document.getElementsByClassName("mobile-menu")[0];
        menu.classList.add("opened");
      })

      closeMenuButton.addEventListener('click', (event) => {
        const menu = document.getElementsByClassName("mobile-menu")[0];
        menu.classList.remove("opened");
      })
    })();
  </script>
</body>
</html>