<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Studio Recording</title>
  {{--  Bootstrap  --}}
  <link 
    rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous"
  >
  <link rel="stylesheet" href="styles/main.css">

  {{--  Plug for extra stylesheets  --}}
  @!section('stylesheet')

  {{--  FontAwesome  --}}
  <script src="https://kit.fontawesome.com/16308709c3.js" crossorigin="anonymous"></script>
</head>
<body>
  <noscript>This site requires JavaScript to be enabled to be displayed correctly.</noscript>
  {{--  Fixed div for go back to top button on medium to large devices  --}}
  <div class="btn-back-to-top hidden-xs hidden-sm">
    <a href="#top">
      <i class="fas fa-chevron-up fa-2x"></i>
    </a>
  </div>
  {{--  Mobile Menu Popout  --}}
  <div class="mobile-menu hidden-md hidden-lg">
    <div class="mobile-menu__close-button">
      <i class="fas fa-times fa-2x"></i>
    </div>
    <ul class="mobile_menu__list-container list-unstyled">
      <li class="mobile_menu__list-item">
        <a href="#top">
          <div>
            Home
          </div>
        </a>
      </li>
      <li class="mobile_menu__list-item">
        <a href="#about">
          <div>
            About
          </div>
        </a>
      </li>
      <li class="mobile_menu__list-item">
        <a href="#pricing">
          <div>
            Pricing
          </div>
        </a>
      </li>
      <li class="mobile_menu__list-item">
        <a href="#contact">
          <div>
            Contact
          </div>
        </a>
      </li>
    </ul>
  </div>
  {{--  Begin Header / Nav  --}}
  <header class="container-fluid">
    <nav class="row">
      <span class="col-xs-8 col-md-3 spaced-word header-font nav__logo">Recording<br>Studio</span>
      <ul class="col-xs-4 col-md-9 nav__ul list-unstyled">
        <li class="hidden-xs hidden-sm">
          <a href="#" class="nav__link">
            About
          </a>
        </li>
        <li class="hidden-xs hidden-sm">
          <a href="#pricing" class="nav__link">
            Pricing
          </a>
        </li>
        <li class="hidden-xs hidden-sm">
          <a href="#contact" class="nav__link">
            Contact
          </a>
        </li>
        <li class="hidden-md hidden-lg nav__mobile-menu-button">
          <i class="fas fa-bars fa-2x"></i>
        </li>
      </ul>
    </nav>
  </header>
  {{--  End Header / Nav  --}}
  {{--  Begin Content  --}}
  @!section('content')
  {{--  End Content  --}}
  {{--  Begin Footer  --}}
  <footer>
    &copy; 2020 Sean Fried
  </footer>
  {{--  End Footer  --}}
  <script src="scripts/main.js"></script>
  {{--  Plug for extra JavaScript files  --}}
  @!section('scripts')
</body>
</html>