<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Studio Recording</title>
  {{--  Bootstrap  --}}
  <link 
    rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
    crossorigin="anonymous"
  >
  
  {{--  Plug for extra stylesheets  --}}
  @!section('stylesheet')
  <link rel="stylesheet" href="styles/main.css">

  {{--  FontAwesome  --}}
  <script src="https://kit.fontawesome.com/16308709c3.js" crossorigin="anonymous"></script>
</head>
<body>
  <noscript>This site requires JavaScript to be enabled to be displayed correctly.</noscript>
  {{--  Fixed div for go back to top button on medium to large devices  --}}
  <div class="btn-back-to-top d-none d-lg-block rounded-circle">
    <a href="#top">
      <i class="fas fa-chevron-up fa-2x"></i>
    </a>
  </div>
  {{--  Mobile Menu Popout  --}}
  <div class="mobile-menu d-lg-none d-xl-none">
    <div class="mobile-menu__close-button">
      <i class="fas fa-times fa-2x"></i>
    </div>
    <ul class="mobile-menu__list-container list-unstyled">
      <li class="mobile-menu__list-item">
        <a class="text-reset text-decoration-none" href="#top">
          <div class="mobile-menu__list-item-text">
            Home
          </div>
        </a>
      </li>
      <li class="mobile-menu__list-item">
        <a class="text-reset text-decoration-none" href="#about">
          <div class="mobile-menu__list-item-text">
            About
          </div>
        </a>
      </li>
      <li class="mobile-menu__list-item">
        <a class="text-reset text-decoration-none" href="#pricing">
          <div class="mobile-menu__list-item-text">
            Pricing
          </div>
        </a>
      </li>
      <li class="mobile-menu__list-item">
        <a class="text-reset text-decoration-none" href="#contact">
          <div class="mobile-menu__list-item-text">
            Contact
          </div>
        </a>
      </li>
    </ul>
  </div>
  {{--  Begin Header / Nav  --}}
  <header class="container-fluid">
    <nav class="nav row no-gutters d-flex align-items-center">
      <span class="spaced-word header-font nav__logo col">Recording<br>Studio</span>
      <ul class="nav__ul col d-flex justify-content-end list-unstyled">
        <li>
          <a href="#about" class="nav__link d-none d-lg-block text-reset text-decoration-none">
            About
          </a>
        </li>
        <li>
          <a href="#pricing" class="nav__link d-none d-lg-block text-reset text-decoration-none">
            Pricing
          </a>
        </li>
        <li>
          <a href="#contact" class="nav__link d-none d-lg-block text-reset text-decoration-none">
            Contact
          </a>
        </li>
        <li class="nav__mobile-menu-button d-lg-none">
          <i class="fas fa-bars fa-2x"></i>
        </li>
      </ul>
    </nav>
  </header>
  {{--  End Header / Nav  --}}
  <main>
    {{--  Begin Content  --}}
    @!section('content')
    {{--  End Content  --}}
  </main>
  {{--  Begin Footer  --}}
  <footer>
    &copy; 2020 Sean Fried
  </footer>
  {{--  End Footer  --}}
  {{--  Section to show that we're retrieving data from the server. Please consider this separate from the website  --}}
  <div class="data-grid">
    <div class="data-grid__container">
      <span class="data-grid__grid-header">Name</span>
      <span class="data-grid__grid-header">Email</span>
      <span class="data-grid__grid-header">Phone</span>
      @!section('data-grid')
    </div>
  </div>
  {{--  End data grid  --}}
  {{--  Requirements jQuery, Popper, and then Bootstrap itself  --}}
  <script 
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
    crossorigin="anonymous"
  ></script>
  <script 
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" 
  crossorigin="anonymous"
  ></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" 
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" 
  crossorigin="anonymous"
  ></script>
  {{--  Script for header and mobile menus  --}}
  <script src="scripts/main.js"></script>
  {{--  Plug for extra JavaScript files  --}}
  @!section('scripts')
</body>
</html>