@import "_master.scss";

.zindex1 {
  z-index: 1;
}

.darkening-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0008;
  z-index: 1;
}

//Landing
.landing {
  position: relative;
  color: color(bright);
  background: url("../images/sm7b_cropped.jpg");
  background-position: center;
  background-size: cover;
  height: 70vh;
  box-shadow: 0 2px 5px color(boxshadow);

  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }

  &__jumbotron {
    position: relative;
    background: transparent;

    .hr {
      height: 2px;
      background-image: linear-gradient(to right, transparent, color(bright) 2.5%, transparent 75%);

      @include media-breakpoint-up(lg) {
        background-image: linear-gradient(to right, transparent, color(bright), transparent);
      }
    }
  }

  &__jumbotron-header {
    font-size: 1.5rem;

    @include media-breakpoint-up(sm) {
      & {
        font-size: 2rem;
      }
    }

    @include media-breakpoint-up(md) {
      & {
        font-size: 4rem;
      }
    }

  }

  &__button {
    max-width: 300px;
  }
}

//About
.about-us {
  color: color(verydark);
  
  .hr {
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right, transparent, color(verydark), transparent);
  }

  &__image {
    width: 100%;
    max-width: 500px;
    img {
      width: 100%;
    }
  }

  &__paragraph {
    text-indent: 2rem;
  }
}

//Pricing
.pricing {
  position: relative;
  background-color: color(seabluegreen);
  box-shadow: 0 2px 5px color(boxshadow), 0 -2px 5px color(boxshadow);
  z-index: 1;

  @include media-breakpoint-up(lg) {
    background-image: url("../images/computersetup.jpg");
    background-position: center;
    background-size: cover;
  }

  .hr {
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right, transparent, color(bright), transparent);
  }

  .card {
    max-width: 300px;
    margin: 10px auto;
    background-color: color(bright);
    color: color(verydark);
    text-align: center;
    padding: 30px 15px;
    border-radius: 20px;
  
    &__icon {
      padding-bottom: 20px;
    }
  
    &__title {
      padding-top: 10px;
      font-size: 2rem;
      font-weight: bold;
    }
  
    &__price {
      font-size: 1.25rem;
      font-style: italic;
    }
  
    //&__description {}
  }
}

//Contact
.contact-form {
  position: relative;
  height: 70vh;
  background-image: url("../images/homestudio.jpg");
  background-position: bottom left;
  background-size: cover;

  @include media-breakpoint-up(lg) {
    & {
      background-size: cover;
    }
  }

  &__form-container {
    background-color: color(bright);
    color: color(verydark);
    padding: 25px;
    min-width: 300px;
    box-shadow: 2px 2px 5px color(boxshadow);
    border-radius: 10px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-input-group {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
  }

  &__form-input-group input {
    border-radius: 5px;
    border: 2px solid #bbb;
    padding: 5px;
    /* border-style: none; */
  }

  &__form-input-group input:focus {
    border: 2px solid $info;
  }

  &__form-input-group input::placeholder {
    color: #888;
  }
  
  &__button {
    margin-top: 5px;
  }
}