@import "_master.scss";

.zindex1 {
  z-index: 1;
}

.darkening-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0008;
  z-index: 1;
}

//Landing
.landing {
  position: relative;
  color: color(bright);
  background: url("../images/sm7b_cropped.jpg");
  background-position: center;
  background-size: cover;
  height: 70vh;

  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }

  &__jumbotron {
    position: relative;
    background: transparent;

    .hr {
      height: 2px;
      background-image: linear-gradient(to right, transparent, color(bright) 2.5%, transparent 75%);

      @include media-breakpoint-up(lg) {
        background-image: linear-gradient(to right, transparent, color(bright), transparent);
      }
    }
  }

  &__jumbotron-header {
    font-size: 1.5rem;

    @include media-breakpoint-up(sm) {
      & {
        font-size: 2rem;
      }
    }

    @include media-breakpoint-up(md) {
      & {
        font-size: 4rem;
      }
    }

  }

  &__button {
    max-width: 300px;
  }
}

//About
.about-us {
  color: color(verydark);
}

//Pricing
.pricing {
  position: relative;
}