@import "_master.scss";

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

///////////////////////////////
// change this later
body {
  height: 200vh;
  background-color: transparent;
  color: color(bright);
}
//////////////////////////////

//Base
html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
} 

a {
  color: white;
  text-decoration: none;

  &:visited {
    color: white;
    text-decoration: none;
  }
  &:hover {
    color: white;
    text-decoration: none;
  }
  &:active {
    color: white;
    text-decoration: none;
  }
  &:focus {
    color: white;
    text-decoration: none;
  }
}

//Helper classes
.spaced-word {
  letter-spacing: 0.25em;
}

.header-font {
  font-family: 'Montserrat', sans-serif;
}

// Scrollbar style for browsers that support it
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

//Floating elements
.btn-back-to-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  padding: 5px;
  opacity: 0;
  color: color(bright);
  background: color(verydark);
  border: 1px solid color(bright);
  transition-duration: 0.5s;
  z-index: 10;

  &.scrolled {
    opacity: 1;
  }
}

.mobile-menu {
  position: fixed;
  background-color: #333;
  height: 100vh;
  width: 270px;
  top: 0;
  right: -280px;
  box-shadow: -2px 0 5px #000d;
  z-index: 6;
  transition-duration: 0.5s;

  &.opened {
    right: 0;
  }

  &__close-button {
    padding: 20px;
    cursor: pointer;
  }

  &__list-item {
    font-size: 1.5rem;

    &:hover {
      background: linear-gradient(to right, #555, transparent 85%);
    }

    &::after {
      display: block;
      content: " ";
      height: 2px;
      background: linear-gradient(to right, black, transparent 85%);
    }
  }

  &__list-item-text {
    padding: 20px;
  }
}

// Header and Nav
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 5;
  transition-duration: 0.5s;
  background-color: rgba(color(verydark), 0);
  box-shadow: 0 2px 5px #0000;

  @include media-breakpoint-down(md) {
    &.scrolled {
      background-color: color(verydark);
      box-shadow: 0 2px 5px color(boxshadow);
    }
  }

  @include media-breakpoint-up(lg) {
    position: absolute;
  }

  .nav {
    &__ul {
      margin: 0;
    }

    &__link {
      display: inline-block;
      text-align: center;
      padding: 20px;
      width: 150px;
      cursor: pointer;
      border-bottom: 2px solid rgba(color(bright), 0);

      &:hover {
        border-bottom: 2px solid color(bright);
      }
    }

    &__mobile-menu-button {
      padding: 16px;
      cursor: pointer;
    }
  }
}

//Footer
footer {
  padding: 10px;
  text-align: right;
  background-color: color(verydark);
  color: #aaa;
  z-index: -1;
}