@import "sass/master.scss";

.darkening-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0008;
  background-repeat: repeat;
}

//Landing
.landing {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
  box-shadow: 0 2px 5px color(boxshadow);
  z-index: 1;
  background-image: url("../images/sm7b_cropped.jpg");
  background-size: cover;
  background-position: center;

  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }

  &__splash {
    height: 100%;

    @include media-breakpoint-up(md) {
      & {
        position: absolute;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  @include media-breakpoint-up(sm) {
    & {
      height: 70vh;
    }
  }
}

.rolodex {
  position: relative;
  margin: 0 auto;
  height: 75px;
  width: 90%;
  border: 3px solid white;
  overflow: hidden;

  &__item {
    position: absolute;
    top: 100%;
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    letter-spacing: 0.75rem;
  }

  @include media-breakpoint-up(sm) {
    & {
      height: 100px;

      &__item {
        font-size: 2.5rem;
      }
    }
  }

  @include media-breakpoint-up(md) {
    & {
      width: 600px;
      height: 200px;
    }

    &__item {
      letter-spacing: 1.5rem;
    }
  }

  @include media-breakpoint-up(lg) {
    & {      
      width: 800px;
      height: 100px;
    }
  }
}